<!DOCTYPE html>
<html>
<head>
<title>Регистрация</title>
<link rel="stylesheet" href="{{css}}">
<meta charset="utf-8" />
</head>
<body>
<header class="main_title">Express Calendar</header>
<div class="container">
<div class="inner_container">
<header class="title">Регистрация</header>
<form class="register_form form" method="post" autocomplete="off" action="/checkuser">
 <label class="label">Логин</label>
 <input class="field register_login login" 
 type="text" name="userName" required/>
 <label class="label">Пароль</label>
 <input class="field" type="password" name="pass" required/>
 <input class="button" type="submit" value="Зарегистрироваться">
 <label class="alreadyhere_label">Такой логин уже есть</label>
</form>
</div>
<div class="inner_container">
<header class="title">Вход</header>
<form class="auth_form form" method="post" autocomplete="off" action="/login">
<label class="label">Логин</label>
<input class="field auth_login login" 
type="text" name="username" required/>
<label class="label">Пароль</label>
<input class="field" type="password" name="password" required/>
<input class="button" type="submit" value="Войти">
<label class="wrongauth_label">Неверный логин или пароль</label>
</form>
</div>
</div>
</body>
</html>