<!DOCTYPE html>
<html>
<head>
<title>Общее время</title>
<link rel="stylesheet" href="/stylesheets/profile.css">
<meta charset="utf-8" />
</head>
<body>
<div class="container">
<div class="inner_container">
<header class="title">Общее свободное время</header>
{{#each events}}
<div class="event_item">
    <div class="event_container">
    {{this.name}}
    <div class="time">Начало: {{this.start}}</div>
    <div class="time">Конец: {{this.end}}</div>
    </div>
</div>
{{/each}}
</div>
</div>
</body>
</html>